/* Font families */

/* font-family: 'Kranky', ;
font-family: 'Pompiere', ;
font-family: 'Harmattan', ; */

h1, h2, h3, h4, h5 {
  font-family: "Kranky";
  font-size: 6rem;
}

p.title-text {
  font-family: "Pompiere";
  font-size: 2.7rem;
}

p {
  font-family: "Pompiere";
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Pompiere";
}

.title {
  position: relative;
  text-align: center;
  background-image: url("sparkles.png");
  background-size: cover;
  padding: 50px auto;
}

.alpaca-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
}

.title-text {
  padding: 0;
}

.input {
  text-align: center;
  margin-top: 3%;
}

#search-parameters {
  margin: 10px auto 30px;
}

.button-interface {
  text-align: center;
}

.gif-div {
  text-align: center;
}

.gif-button {
  margin: 0 10px;
}

.captured-gif {
  border-radius: 10%;
  width: 70%;
  margin: 0 2%;
}

.img-and-rating {
  display: inline-block;
  text-align: center;
}

.rating {
  display: block;
}



/* ***************************************
MEDIA QUERIES
*************************************** */
